window,body
{
	margin: 0;

	background-color: "navy";
	color: "red";
}

header
{
	text-align: center;
	font-size: 48px;
	color: aqua;
	font-family: arial;
	font-weight: bold;

}

table
{
	margin: 30px auto;
	border-collapse: collapse;
}

th,td
{
	text-align: center;
	border: 1px solid navy;
	padding: 5px;
}

.error
{
	text-align: center;
	color: red;
}

.input_form
{
	width: 50vw;
	margin: 30px auto;
	background-color: beige;
	border: 2px solid red;
	border-radius: 5px;
}

.input_task
{
	width: 75%;	
}

.input_submit
{
	background-color: olive;
	border: red;
}

